[defaults]
# deprecation_warnings=False
inventory = ./inventory
gathering = explicit
callbacks_enabled = profile_tasks,timer
collections_paths = ./collections:/usr/share/ansible/collections
roles_path = ./roles:/usr/share/ansible/roles:/etc/ansible/roles

# https://docs.ansible.com/ansible/2.9/plugins/callback.html
# https://docs.ansible.com/ansible/2.9/plugins/callback/yaml.html
stdout_callback = yaml

# https://docs.ansible.com/ansible/2.9/reference_appendices/interpreter_discovery.html
# Backward compatible Python interpreter:	auto_legacy	/usr/bin/python
# interpreter_python = auto_legacy
# Detected Python interpreter:	auto	/usr/libexec/platform-python
interpreter_python = auto

# https://docs.ansible.com/ansible/2.9/reference_appendices/logging.html
# https://docs.ansible.com/ansible/2.9/reference_appendices/config.html
log_path = /tmp/log/labs/.ansible.log
log_verbosity = info
target_log_info = labs

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
