apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ my_vm }}
  namespace: {{ my_namespace }}
spec:
  template:
    metadata:
      labels:
{% for label in my_label.splitlines() %}
{% set kv = label.split(':', 1) %}
{% if kv|length == 2 and kv[0]|trim and kv[1]|trim %}
        {{ kv[0]|trim }}: {{ kv[1]|trim }}
{% endif %}
{% endfor %}

