apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ my_vm }}
  namespace: {{ my_namespace }}
  labels:
{%- for label in my_label.splitlines() %}
{%- set kv = label.split(':', 1) %}
{%- if kv|length == 2 and kv[0]|trim and kv[1]|trim %}
    {{ kv[0]|trim | to_json }}: {{ kv[1]|trim | to_json }}
{%- endif %}
{%- endfor %}

