apiVersion: v1
kind: Service
metadata:
  name: {{ my_svc | mandatory('You must specify a service name') }}
  namespace: {{ my_namespace | mandatory('You must specify where the service will be created') }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: {{ my_app }}
    port: {{ my_port }}
    protocol: TCP
    targetPort: {{ my_port }}
  selector:
    kubevirt.io/domain: {{ my_vm | mandatory('You must specify a service name') }}
  sessionAffinity: None
  type: ClusterIP

