[defaults]
deprecation_warnings = false
inventory = ./my_inventory/inventory.kubevirt.yml 
#inventory = ./my_inventory
ask_ssh_pass = false
host_key_checking = false
become = false
remote_user = cloud-user 
forks = 200
vault_password_file = ~/.vault-passwd
collections_path = ./collections/

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, kubevirt.core.kubevirt

[galaxy]
server_list = published,validated,galaxy

[galaxy_server.galaxy]
url=https://galaxy.ansible.com

[galaxy_server.published]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTA3MTU4NzQsImp0aSI6ImM3YjUwZjMyLWFkNTQtNDBjOC05Zjc2LWY1NjA3ZTQyYjEwOCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MjU3MDM0OCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMmJhOTY4YzQtMDQxYS00MjJjLWFiNDItYWVjZGI2NTNhZjY4Iiwic2lkIjoiM2U1NDQ0MWItYThiNi00YWJhLWI1YWUtZDI3MDM2ZmZmZTQxIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IG9mZmxpbmVfYWNjZXNzIn0.ft8uIIDYBX7r6T76oEH2_mfDGVmIWevS-lz1ZY4qxwZOWeH3shC4Z-smpfbasKlT-s2g8LpbCsBcxRRZKYVuVA

[galaxy_server.validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTA3MTU4NzQsImp0aSI6ImM3YjUwZjMyLWFkNTQtNDBjOC05Zjc2LWY1NjA3ZTQyYjEwOCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MjU3MDM0OCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMmJhOTY4YzQtMDQxYS00MjJjLWFiNDItYWVjZGI2NTNhZjY4Iiwic2lkIjoiM2U1NDQ0MWItYThiNi00YWJhLWI1YWUtZDI3MDM2ZmZmZTQxIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IG9mZmxpbmVfYWNjZXNzIn0.ft8uIIDYBX7r6T76oEH2_mfDGVmIWevS-lz1ZY4qxwZOWeH3shC4Z-smpfbasKlT-s2g8LpbCsBcxRRZKYVuVA

