[defaults]
deprecation_warnings = false
inventory = ./my_inventory/inventory.kubevirt.yml 
#inventory = ./my_inventory
ask_ssh_pass = false
host_key_checking = false
become = false
remote_user = cloud-user 
forks = 200
vault_password_file = ~/.vault-passwd
collections_path = ./collections/

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, kubevirt.core.kubevirt

[galaxy]
server_list = published,validated,galaxy

[galaxy_server.galaxy]
url=https://galaxy.ansible.com

[galaxy_server.published]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3MjExMjQ5MTcsImp0aSI6ImZmMzE2YzczLTI1NWItNDk0YS04YjJjLTllYmNlOWFkZGVmZSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpyZGFjb3N0YTFAcmVkaGF0LmNvbSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOWZkMmI1OTUtNjNhNC00Y2Y1LTgwZDktMDY5OTcxNjg2MWMyIiwic2Vzc2lvbl9zdGF0ZSI6IjIzNGQzOWFjLTdhMzktNDA0Mi05ZDdmLWI4NjdkNGU4ZjAwMCIsInNjb3BlIjoib3BlbmlkIGFwaS5pYW0uc2VydmljZV9hY2NvdW50cyByb2xlcyB3ZWItb3JpZ2lucyBvZmZsaW5lX2FjY2VzcyIsInNpZCI6IjIzNGQzOWFjLTdhMzktNDA0Mi05ZDdmLWI4NjdkNGU4ZjAwMCJ9.0b67T8b4QuTZl_2q5cJWmyp_no_hspBCu29qZk04jHhKOfx-w6NNRgw9h78nJMpUZuohj2oj7FUKOl7agCmc5A

[galaxy_server.validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3MjExMjQ5MTcsImp0aSI6ImZmMzE2YzczLTI1NWItNDk0YS04YjJjLTllYmNlOWFkZGVmZSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpyZGFjb3N0YTFAcmVkaGF0LmNvbSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOWZkMmI1OTUtNjNhNC00Y2Y1LTgwZDktMDY5OTcxNjg2MWMyIiwic2Vzc2lvbl9zdGF0ZSI6IjIzNGQzOWFjLTdhMzktNDA0Mi05ZDdmLWI4NjdkNGU4ZjAwMCIsInNjb3BlIjoib3BlbmlkIGFwaS5pYW0uc2VydmljZV9hY2NvdW50cyByb2xlcyB3ZWItb3JpZ2lucyBvZmZsaW5lX2FjY2VzcyIsInNpZCI6IjIzNGQzOWFjLTdhMzktNDA0Mi05ZDdmLWI4NjdkNGU4ZjAwMCJ9.0b67T8b4QuTZl_2q5cJWmyp_no_hspBCu29qZk04jHhKOfx-w6NNRgw9h78nJMpUZuohj2oj7FUKOl7agCmc5A

